[submodule "bundle/syntax"]
	path = bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/vim-vmath"]
	path = bundle/vim-vmath
	url = https://github.com/DavidGamba/vim-vmath.git
